* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

/* HEADER */
.header {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: #068574 3px solid;
}

.header h1 {
    font-size: 30px;
    color: #119b9b;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0 8%;
    font-size: 19px;
    color: #119b9b;
}

.logo img {
    width: 40px;
    height: 40px;
    margin: 10px 8px;
}

/* MENU DE USUÁRIO */
.user-menu {
    width: 200px;
    height: 40px;
    border: 2px solid #068574;
    position: absolute;
    right: 200px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.user-menu:hover .user-menu-content {
    display: block;
}

.user-menu-content {
    width: 200px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    display: none;

}

.user-menu .user-menu-content .botoes {
    margin: 0 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: block;
    background: #068574;
    color: white;
    border: none;
    font-size: 1.1em;
}

.user-menu .user-menu-content .botoes:hover{
    background: #068580;
    
}

/* MENU PRINCIPAL */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0b3a3a;
    width: 100%;
    height: 40px;
}

.dropmenu {
    border: none;
    background: transparent;
    color: white;
}
.dropmenu:hover {
    cursor: pointer;
    color: #ced4da;
}
.menu menu__topo{
    color: #f5f5f5;
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
}

.menu menu__topo:hover {
    color: #cccccc;
    font-weight: bold;
}

/* MENSAGEM DE ERRO */
.container__erro h1{
    font-size: 30px;    
}

/* TÍTULO DA PÁGINA */
h2 {
    color: #079797;
    font-size: 25px;
    margin-top: 50px;
}

hr {
    border: 0.5px solid;
    border-color: #464646;
    margin-bottom: 60px;
}

/* CONTAINER DAS PÁGINAS GERAIS */
.container {
    max-width: 90%;
    margin: 0 auto;
}

/* CONTAINER DAS BARRAS DE PESQUISA DE PRODUTO E CLIENTE - TELA DE VENDA */
.container__venda{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin: auto;    
}

.venda-column{
    width: 100%;
    padding: 0 10px;
}
.venda-row{
    display: flex;
    height: 40vh;
    min-height: 400px;
}
.venda-table{}

/* CONTAINER DA PÁGINA - MENU PRINCIPAL */
.container__menu__principal{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
}

/* CONTAINER DA TELA DE LOGIN */
.container__login{
    border: 1px solid #ced4da;
    width: 500px;
    height: 450px;
    margin: 140px auto 0px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
}

/* CONTAINER DA TELA DE Alterar Senha */
.container__alterar__senha{
    border: 1px solid #ced4da;
    width: 500px;
    height: 450px;
    margin: 140px auto 0px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
}

/* CONTAINER DA TELA DE CRÉDITOS */
.container__creditos {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTAINER TELA DE ERRO */
.container__erro {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Menu principal */
.dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
    background-color: #f3f1f1;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.dropdown img{
    display: flex;
    justify-content: center;
    height: 60%;
    margin: 12%;
}

.dropbtn {
    background-color: #068574;
    color: white;
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 0 0 5px 5px;
    height: 20%;
    width: 200px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #f4f4f4;
    min-width: 200px;
    min-height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    /*  border: 0px 0px 0px 0px #6e6c6c2c; propriedade removida por falta de utilizacao*/
}

.dropdown-content-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #eee;
    border: 1px solid #c2c2c2;
    border-radius: 0 0 4px 4px;
}
.dropdown-content-button:hover {
    background: #e4e4e4;
    cursor: pointer;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    box-shadow: 0 0 1em #c7bfbf;
}

/* ALINHAMENTO DOS FORMULÁRIOS */
.linha {
    display: flex;
}

.coluna {
    min-width: 300px;
    padding: 15px 0;
}

.form {
    margin: 20px auto;
    width: 100%;
    min-width: 360px;
    max-width: 1900px;
}

.campo {
    display: block;
    width: 80%;
    padding: 0.9rem;
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.campo.-radio {
    width: unset;
}

/* ASTERISCO PARA ITENS OBRIGATÓRIOS EM FORMULÁRIOS */
.obrigatorio {
    color: #ff0000;
    font-size: 15px;
}

/* ESTILO DE BOTÕES GERAL */
.btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    line-height: 40px;
    background-color: #119b9b;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5f5f5;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    text-decoration: none;
    background-color: #068574;
    border-color: #068574;
}

.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

/* ESTILOS DE BOTÕES ESPECÍFICOS */
.btn.btn-salvar {
    background-color: #4fca4f;
}
.btn.btn-salvar:hover {
    background-color: #2a8d2a;
}
.btn.btn-cancelar {
    background-color: #e41515;
}

.btn.btn-cancelar:hover {
    background-color: #ad1414;
}

/* BARRA DE PESQUISA */
.pesquisa {
    display: flex;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.txt__pesquisa {
    background-color: transparent;
    font-size: 14px;
    border: none;
    height: 32px;
    width: 320px;
}

.btn__pesquisa {
    width: 20px;
    height: 20px;
    margin: 10px 8px;
}

/* TABELAS */
table {
    border-radius: 5px;
    border-collapse:collapse ;
    width: 57em;
    border: 1px solid #ced4da;
}

.tabela__pesquisa__secundaria{
    margin: 10px 0;
    width: 100%;
}
.tabela__pesquisa__secundaria td, .tabela__pesquisa__secundaria th {
    border-radius: 0;
}
.tabela__pesquisa__secundaria thead th:nth-child(even) {
    background: #eaeaea;
}

.tabela__venda{
    margin: 10px 0;
}

.clicked {
    display: none;
    background: #3d80df;
    color: #fff;
}

thead {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    border: 1px solid #ced4da;
}

tr:hover {
    background-color:#3d80df;
    color: #fff;
    cursor: pointer;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}

th {
    font-weight: normal;
    text-align: left;
    border-radius: 10px;
}

th, td {
    padding: 0.2em 5px;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #0b3a3a;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer  a{
    color: #f5f5f5;
    font-size: 18px;
}

footer p{
    color: #f5f5f5;
    margin: 5px 0;
}

/* PÁGINA DE CRÉDITOS */
.container__creditos h3{
    color: #1b5958;
    font-size: 22px;
    margin: 20px 0 15px 0;
}

.container__creditos ul {
    list-style-type: none;

}

.container__creditos ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    text-decoration:none;
    color: black;
    font-size: 17px;
}

.container__creditos p{
    font-size: 17px;  
}

/*Modificadores para correcoes de CSS*/
.mt-0 {
    margin-top: 0 !important;
}
.ml-15 {
    margin-left: 15px !important;
}

@media (max-width: 1090px){
    .container__menu__principal{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .container__menu__principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin-bottom: 10px;
    }
}